<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>AirCouch - Homepage</title>

  <link rel="stylesheet" type="text/css" href="/public/src/styles/styles2.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/listings">
        <img class="img-logo" src="/public/src/img/673277.svg" alt="AirCouch Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Sign Up</a>
            </li>
            <li class="nav-item float-left">
                 <a class="nav-link" href="/login/destroy">Log Out</a>
            </li>
        </ul>
      </div>
    </nav> 

<h2>Welcome to AirCouch, <%= @user.name %></h2>

<form action='/listings' method="get">
  <button type="submit">View listings</button>
</form>

<form action='/listings/new' method="get">
  <button type="submit">Make new listing</button>
</form>

<div>
  <h3> My listings </h3>
  <% @listings.each do |my_listing| %>
  <ul>
    <li>
      <%= my_listing.name %>, <%= my_listing.description %>, £<%= my_listing.price %>, available from
      <%= my_listing.start_date %> to <%= my_listing.end_date %>
      <% my_booking = my_listing.get_bookings(my_listing.id)[0] %>
      <% if my_booking %>
        <% if my_booking.approved == 'f' %>
          <p> Booking has been requested from <%= my_booking.start_date %> to <%= my_booking.end_date %> by <%= my_booking.find_guest %></p>
          <form action='/approve/<%= my_booking.id %>' method="post">
            <input type="submit" value="Approve"/>
          </form>
        <% elsif my_booking.approved == 't' %>
          <p> Booking has been approved from <%= my_booking.start_date %> to <%= my_booking.end_date %> by <%= my_booking.find_guest %></p>
        <% end %>
      <% end %>
    </li>
  </ul>
  <% end %>
</div>

<div>
  <h3> My bookings </h3>
    <% @bookings.each do |booking| %>
    <ul>
      <li>
        <% listing = booking.find_listing(booking.listing_id)[0] %> <%= listing.name %>
        has been <% if booking.approved == 't' %> approved <% else %> requested for <% end %>
        <%= booking.start_date %> to the <%= booking.end_date %>
      </li>
    </ul>
    <% end %>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
