<% require_relative '../lib/database_connection' %>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>AirCouch - Welcome</title>

  <link rel="stylesheet" type="text/css" href="/public/src/styles/style.css">
</head>

<body>
<ul id="top_nav_bar">

  <li id="top_nav_bar_list">
    <a id="top_nav_bar_links" href="/users/new">Sign Up</a>
  </li>
  <li id="top_nav_bar_list">
    <a id="top_nav_bar_links" href="/listings">Listings</a>
  </li>
  <li id="top_nav_bar_list">
    <a id="top_nav_bar_links" href="/login">Log In</a>
  </li>
  <li id="top_nav_bar_list">
    <form id="logout" action="/login/destroy" method="post">
      <input id= "logout" type="submit" value="Log out"/>
    </form>
  </li>
</ul>

<h2>Welcome to AirCouch, <%= @user.name %>. Thanks for joining us!</h2>

<form action='/listings' method="get">
  <button type="submit">View listings</button>
</form>

<form action='/listings/new' method="get">
  <button type="submit">Make new listing</button>
</form>

<form action="/login/destroy" method="post">
  <input type="submit" value="Log out"/>
</form>

<div>
  <h3> My listings </h3>
  <% @listings.each do |my_listing| %>
  <ul>
    <li>
      <%= my_listing.name %>, <%= my_listing.description %>, <%= my_listing.price %>,
      <%= my_listing.start_date %>, <%= my_listing.end_date %>,
      <% my_booking = my_listing.get_bookings(my_listing.id)[0] %>
      <% if my_booking %>
        <% if my_booking.approved == 'f' %>
          <p> Booking has been requested from <%= my_booking.start_date %> to <%= my_booking.end_date %> by <%= my_booking.find_guest %></p>
          <form action='/approve/<%= my_booking.id %>' method="post">
            <input type="submit" value="Approve"/>
          </form>
        <% elsif my_booking.approved == 't' %>
          <p> Booking has been approved from <%= my_booking.start_date %> to <%= my_booking.end_date %> by <%= my_booking.find_guest %></p>
        <% end %>
      <% end %>
    </li>
  </ul>

  <% end %>

</div>
</body>
